header{
    background-color: rgb(236, 120, 43);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}

#carouselExampleCaptions img{
    width: auto;
    height: 400px;
    min-height: 400px;
    align-content: center;
}

#tuich{
    font-size: 30px;
    color: black;
}


#carouselExampleCaptions h5, p{
    color: black;
}

.carta_imagen{
    height: 400px;
    width: 400px;
}

.carta_titulo{
    font-size: 40px;
}

.carta_texto{
    font-size: 30px;
}

body{
    background-image: url('https://media.discordapp.net/attachments/1002436626686951475/1006640254859612231/552ad461-50fa-46e5-b6af-262243717c2b-profile_banner-480.jpeg');
    background-size: 100%;
    background-repeat: no-repeat round;
}

#chofaverso{
    color: #c6c6ca;
}

#tema{
    color: red;
}

#titulo_esencia{
    color: red;
}

#texto_esencia{
    color: red;
}

#esencia{
    color: red;
    font-size: 30px;
}

.carrusel_titulo{
    color: rgb(184, 5, 5);
    font-size: 35px;
}

.carrusel_descripcion{
    color: rgb(184, 5, 5);;
    font-size: 25px;
}

#rojo{
    color: red;
}