header{
    background-color: rgb(236, 120, 43);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}

#carouselExampleCaptions img{
    width: auto;
    height: 400px;
    min-height: 400px;
    align-content: center;
}

#tuich{
    font-size: 30px;
    color: black;
}


#carouselExampleCaptions h5, p{
    color: black;
}

.carta_imagen{
    height: 400px;
    width: 400px;
}

.carta_titulo{
    font-size: 40px;
}

.carta_texto{
    font-size: 30px;
}

body{
    background-image: url('https://media.discordapp.net/attachments/1002436626686951475/1006640254859612231/552ad461-50fa-46e5-b6af-262243717c2b-profile_banner-480.jpeg');
    background-size: 100%;
    background-repeat: no-repeat round;
}

#chofaverso{
    color: #c6c6ca;
}

#tema{
    color: red;
}

#titulo_esencia{
    color: red;
}

#texto_esencia{
    color: red;
}

#esencia{
    color: red;
    font-size: 30px;
}

.carrusel_titulo{
    color: rgb(184, 5, 5);
    font-size: 35px;
}

.carrusel_descripcion{
    color: rgb(184, 5, 5);;
    font-size: 25px;
}

#rojo{
    color: red;
}

.marco{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.marco ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slider  14s infinite alternate ease-in;
}

.marco li{
    width: 100%;
    list-style: none;
}

.marco img{
    width: 100%;
    height: 500px;
    position: relative;
}

.caja{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.caja p{
    position: absolute;
    bottom: 40px;
    left: 30%;
    font-size: 30px;color: red;
}

.caja h5{
    position: absolute;
    bottom: 90px;
    left: 46%;
    font-size: 40px;color: red;
}

.caja button{
    position: absolute;
    bottom: 10px;
    left: 47%;
}

@keyframes slider {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.perfil{
    position: relative;
    display: inline-block;
    width: 90%;
    height: auto;
    left: 5%;
}

.perfil img{
    position: absolute;
    border-radius: 170px;
    width: 300px;
    border: 10px solid rgb(114, 21, 122);
    height: 300px;
}

#carta_perfil{
    border-radius: 170px;
    border: 10px solid rgb(114, 21, 122);
    height: 300px;
    width: 100%;
    top: 10%;
    position: absolute;
}

.perfil h5{
    position: absolute;
    top: 20px;
    left: 46%;
    font-size: 40px;
    color: solid rgb(114, 21, 122);
}

.perfil p{
    position: absolute;
    top: 80px;
    left: 25%;
    font-size: 31px;
    color: solid rgb(114, 21, 122);
}

#twitch{
    position: absolute;
    top: 30px;
    left: 24%;
    color: solid rgb(114, 21, 122);
}

#bastardos{
    font-size: 40px;
    color: rgb(114, 21, 122);
}